{%- comment -%} HDM Beauty - Mobile Menu Highlights {%- endcomment -%}
<div class="mobile-menu-highlights">
  <span class="mobile-menu-highlights__title">Categorias</span>

  <a href="{{ routes.root_url }}" class="mobile-highlight-card"> Home </a>

  <a href="collections/outlet" class="mobile-highlight-card mobile-highlight-card--outlet">
    <strong>OUTLET</strong> até 60%OFF
  </a>

  {% comment %}
    <a href="collections/truss" class="mobile-highlight-card mobile-highlight-card--brand">
      <h2>TRUSS</h2>
      <span>PROFESSIONAL</span>
    </a>
  {% endcomment %}
</div>
