{%- comment -%} HDM Beauty - Mobile Menu Highlights {%- endcomment -%}
<div class="mobile-menu-highlights">
  <span class="mobile-menu-highlights__title">Categorias</span>

  <a href="{{ routes.root_url }}" class="mobile-highlight-card"> Home </a>

  <a href="collections/outlet" class="mobile-highlight-card mobile-highlight-card--outlet">
    <strong>OUTLET</strong> até 60%OFF
  </a>

  {% comment %}
    <a href="collections/truss" class="mobile-highlight-card mobile-highlight-card--brand">
      <h2>TRUSS</h2>
      <span>PROFESSIONAL</span>
    </a>
  {% endcomment %}
   <a href="https://hdmbeauty.com.br/collections/presente-dia-das-maes-hdm-beauty">
     <span class="hdm-badge hdm-badge--maes" aria-label="Dia das Mães" style="width:100%;border-radius: 8px; height: 57px;">
       <span class="hdm-badge--maes__state hdm-badge--maes__state--presentes" style="font-size: 18px;">
         PRESENTES ATÉ&nbsp;<strong>40<sup>%</sup>OFF</strong>
       </span>
       <span class="hdm-badge--maes__state hdm-badge--maes__state--nome">
         <span class="hdm-badge--maes__pre" style="font-size: 18px;">DIA DAS</span>
         <span class="hdm-badge--maes__main" style="font-size: 18px;">MÃES</span>
       </span>
     </span>
   </a>
</div>
