{% capture product_card_children %}
  <div class="featured-product-content-top product-highlight-content">
    {% content_for 'block', type: 'product-title', id: 'featured-product-title' %}

    {% content_for 'block', type: '_featured-product-price', id: 'featured-product-price' %}
  </div>
  {% content_for 'block', type: '_featured-product-gallery', id: 'featured-product-gallery' %}
  <div class="featured-product-content-bottom">
    {%- content_for 'block', type: 'swatches', id: 'featured-product-swatches' -%}
  </div>
{% endcapture %}

{% render 'product-card', children: product_card_children, product: closest.product, product_card_gap: 8 %}

{% stylesheet %}
  .product-highlight-content {
    background: var(--brand-primary);
    border-radius: 0 6px 6px 0;
    box-shadow: 10px 10px 20px #ddd;
    color: var(--color-light100);
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
    justify-content: center;
    padding: 40px;
    width: 480px;
  }

  .product-highlight {
    display: flex !important;
    gap: var(--gap-md);

    .card-gallery {
      width: 100%;
      max-width: 400px;
      height: 100%;
    }
  }

  .featured-product-content-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: max-content;
    gap: var(--gap-sm);
  }

  .featured-product-content-bottom:not(:has(product-swatches)) {
    display: none;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.product",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.resource_reference_product_card"
    }
  ]
}
{% endschema %}
