.background-white{
  background-color: #fff !important;
}
.custom-hero-wrapper {
  display: flex;
  flex-direction: column;
  /* Fuga de Grid: Força a ocupar a tela toda ignorando os limites do tema */
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* Puxa o banner para o topo absoluto (atrás do header) */
  margin-top: -193px; 
}
.custom-hero-slider-container {
  position: relative;
  width: 100%;
}

.custom-hero-slider {
  cursor: grab;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; 
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.custom-hero-slider.is-dragging {
  cursor: grabbing;
}

.custom-hero-slider::-webkit-scrollbar {
  display: none;
}

.custom-hero-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  height: max-content;
  user-select: none;
  -webkit-user-drag: none;
}

.custom-hero-link {
  display: block;
  width: 100%;
  height: 100%;
}

.custom-hero-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

/* Fix: Setas Quadradas Brancas da Imagem */
.custom-hero-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 95px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  color: #000;
  transition: background-color 0.2s;
}
.custom-hero-arrow:hover { background-color: #F5F6F6; }
.custom-hero-arrow--left { left: -42px; }
.custom-hero-arrow--right { right: -42px; }

/* Fix: Dots 29px abaixo */
.custom-hero-controls {
  margin-top: 29px; 
  display: flex;
  justify-content: center;
  width: 100%;
}

.custom-hero-dots {
  display: flex;
  gap: 12px;
  margin-top: -18px;
}
.custom-hero-dot {
  border: none;
  cursor: pointer;
  transition:  0.3s ease;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.24);
  border-radius: 40px;
}

.custom-hero-dot.is-active {
  width: 24px;
  height: 8px;
  border-radius: 40px;
  background-color: #766CFF;
}

@media screen and (max-width: 749px) {
  .custom-hero-wrapper {
    margin-top: -110px; 
  }
  .custom-hero-slide { 
    height: 80vh; 
  }
  .custom-hero-arrow { display: none; }
  .custom-hero-arrow--left { left: -16px; }
  .custom-hero-arrow--right { right: -16px; }
}

.custom-hero-slide {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  /* Altura do Hero: 100vh ocupa a tela inteira. Pode ajustar para 80vh ou 90vh se quiser mostrar as seções de baixo. */
  user-select: none;
  height: 80vh; 
  -webkit-user-drag: none;
}